.AreaAssignList {
  width: 325px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}
.AreaAssignList-items{
  margin-top: 35px;
}
.AreaAssignList-close-button {
  background-image: linear-gradient(-179deg, #4AA5FF 0%, #3E8EDE 100%);
  position: absolute;
  top: 0;
  right: 10px;
  padding: 7px 10px;
  border-radius: 0 0 10px 10px;
}

.AreaAssignList-close-button img {
  width: 14px;
  height: 14px;
}
