.AreaListItem {
  border-bottom: 1px solid #e5e5e9;
  padding: 10px 20px;
  min-height: 60px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.AreaListItem-plot {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AreaListItem-children {
  display: block;
}

.AreaListItem-trashlist-button {
  color: #3e8ede;
  font-family: "Lato";
  font-size: 15px;
  line-height: 20px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.AreaListItem-header {
  font-weight: bold;
  font-size: 15px;
  color: #282633;
  font-family: 'Lato' !important;
  margin-left: 15px;
  height: 20px;
  line-height: 40px;
}

.AreaListItem-collapse-toggle {
  margin-left: -8px;
  width: 20px;
  height: 20px;
}

.AreaListItem-collapse-toggle img {
  filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
  height: 10px;
  width: 13px;
}
