.UserListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #e5e5e9;
}

.UserListItem:hover {
  background-color: #d8edff!important;
}

.UserListItem-avatar {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin: 10px 20px;
}

.UserListItem-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.UserListItem-header {
  color: #282633;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  margin-bottom: 2px;
  display: inline-block;
  max-width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.UserListItem-actions {
  margin-right: 20px;
}

.UserListItem-actions span {
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
}

.UserListItem-block {
  color: #e11383;
}

.UserListItem-unblock {
  color: #3e8ede;
}

.UserListItem-location {
  color: #7e7c84;
  font-size: 14px;
}
