.AreaList-container {
  width: 380px;
  position: fixed;
  bottom: 45px;
  left: 50px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.AreaList-plot {
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  height: calc(100vh - 230px) !important;
  display: flex;
}

.AreaList-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 35px;
  background-color: #3e8ede;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.AreaList-minimize {
  cursor: pointer;
  width: 16px !important;
  height: 16px !important;
}

.AreaList-minimize img {
  width: 16px !important;
  height: 9px !important;
}

.AreaList-message {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.AreaList-top-band {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

.AreaList-top-band-back {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AreaList-top-band-left-arrow {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgba(43,43,43,0.98);
}

.AreaList-top-band-area {
  flex: 1;
  color: rgba(43, 43, 43, 0.98);
  font-family: "Noto Sans";
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}
