.Tags-Composition-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
}

.Tags-custom-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.Tags-title {
  font-size: 14px;
  color: #3e8ede;
  letter-spacing: 0;
  font-weight: 700;
}

.Tag-container {
  flex: 1;
  max-width: 110px;
  border-radius: 3px;
  background-color: white;
  color: #4AA5FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 10px;
  padding: 3px 5px;
  font-size: 12px;
  cursor: pointer;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  flex-direction: row;
  border-style:solid;
  border-width:1px;
}

.Tag-container.selected {
  color: white;
  background-color: #3e8ede;
}

.Tag-label {
  max-width: 90px;
  padding:5px;
  flex:1;
  cursor: inherit;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.Tags-add-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Tags-add-input {
  height: 35px;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
  border-radius: 3px;
  flex: 1;
  outline: none;
  padding-left: 20px;
  padding-right: 25px;
}

.Tags-add-button {
  cursor: pointer;
  position: relative;
  background-color: #eee;
  width: 80px;
  left: -5px;
  border-radius: 3px;
  height: 19px;
  flex: -1;
  padding: 10px;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Tags-add-button-text {
  flex:1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.Tag-delete-container {
  flex:0;
  background-color: linear-gradient(-180deg, #fff 0%, #f1f1f1 100%);
  padding: 5px;
  border-radius: 3px;
  float: right;
}
