.App {
  display: flex;
  flex: 1;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.scrollbar-modified::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 0.5;
}

.scrollbar-modified::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.scrollbar-modified::-webkit-scrollbar-thumb {
  background-color: rgba(74,144,226,0.4);
  outline: 1px solid slategrey;
  border-radius: 3px;
}

.t-a-c {
  text-align: center;
}

.cur-p {
  cursor: pointer;
}

.p-20 {
  padding: 20px;
}

.h-100 {
  height: 100%;
}

.d-b {
  display: block;
}

.d-n {
  display: none;
}

.gm-fullscreen-control {
  opacity: 0 !important;
}

.Root-component {
  flex: 1;
  display: flex;
}
