body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#root {
  height: 100vh;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  cursor: pointer;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
