<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>343042629555-hb671cc39371l892ahalhkejuvrmc3pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343042629555-hb671cc39371l892ahalhkejuvrmc3pt</string>
	<key>API_KEY</key>
	<string>AIzaSyDnFsShgCQde-27mGhN0-IrD68mRvgVGWY</string>
	<key>GCM_SENDER_ID</key>
	<string>343042629555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teeme.ldi</string>
	<key>PROJECT_ID</key>
	<string>cleanupworld-1519726467643</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanupworld-1519726467643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343042629555:ios:3952b8b17b12cb4c</string>
	<key>DATABASE_URL</key>
	<string>https://cleanupworld-1519726467643.firebaseio.com</string>
</dict>
</plist>