.TeamsListItem {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e9;
}

.TeamsListItem:hover {
  cursor: pointer;
}

.TeamsListItem-avatar {
  display: inline-block;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.TeamsListItem-name-container {
  margin-left: 16px;
  display: inline-block;
  vertical-align: top;
  height: 60px;
  line-height: 40px;
}
