.TeamsListItem {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 13px;
  padding-left: 8px;
  padding-bottom: 9px;
  cursor: default;
}

.TeamsListItem:hover {
  background-color: #D8EDFF!important;
}

.TeamsListItem-name-container {
  flex: 1;
}

.TeamsListItem-trashpoint-container {
  flex: 0;
  padding: 0 10px;
}
