.HeaderItem {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 20px;
  margin: 9px 0;
}

.HeaderItem-img-container {
  width: 29px;
  margin-top: 5px;
}

.HeaderItem-img-container img {
  opacity: 0.6;
}

.HeaderItem-title {
  font-weight: normal;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  max-width: 120px;
  font-family: Lato;
  word-wrap: break-word;
  text-align: center;
}

.HeaderItem.active {
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.HeaderItem.active span{
  font-weight: bold;
  color: #fff;
}

.HeaderItem.active .HeaderItem-img-container img {
  opacity: 1;
}
