.Popover-container {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity .3s, visibility .3s;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}

.Popover-container.is-open {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}

.Popover-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 34, 0.72);
}

.Popover {
  border-radius: 10px;
  background-color: #f6f8f9;
  width: 590px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}

.Popover-header {
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  background-color: #4a90e2;
  padding: 13px 24px 16px 24px;
  box-sizing: border-box;
}

.Popover-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.Popover-body > span {
  display: block;
  text-align: center;
}

.Popover-title {
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.4;
}

.Popover-hide {
  font-size: 24px;
  cursor: pointer;
}

.Popover-divider {
  height: 1px;
  opacity: 0.2;
  background-color: #7f7f7f;
  align-self: stretch;
}

.Popover-img {
  width: 100%;
  height: 320px !important;
}

.Popover-login-item-container {
  width: 50%;
  position: relative;
}

.Fb-login-btn-head {
  height: 12px;
  width: 100%;
  background-color: #ffc20e;
  opacity: 0;
  position: absolute;
  top: -12px;
}

.Fb-login-container:hover .Fb-login-btn img, .Google-login-container:hover .Google-login-btn img {
  filter: grayscale(0);
}

.Fb-login-container:hover .Fb-login-btn span, .Google-login-container:hover .Google-login-btn span {
  color: #282633;
}

.Fb-login-container:hover .Fb-login-btn-head, .Google-login-container:hover .Google-login-btn-head {
  opacity: 1;
}

.Google-login-btn-it {
  background: none;
  width: 100%;
}

.Google-login-btn-head {
  height: 12px;
  width: 100%;
  background-color: #e11383;
  opacity: 0;
  position: absolute;
  top: -12px;
}

.Popover-login-item {
  cursor: pointer;
  padding: 30px 20px;
}

.Fb-login-btn {
  background-color: rgba(155, 155, 155, 0.1);
  color: #9b9b9b;
  border-bottom-left-radius: 10px;
}

.Google-login-btn {
  background-color: rgba(155, 155, 155, 0.3);
  color: #4a4a4a;
  border-bottom-right-radius: 10px;
}

.Popover-login-item img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  filter: grayscale(1) sepia(0.3);
}

.Popover-login-item span {
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.11;
}
