.UserAreas-item {
  padding: 10px 20px;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e9;
  position: relative;
}

.UserAreas-item img {
  margin-right: 20px;
  vertical-align: middle;
}

.UserAreas-name-block {
  display: inline-block;
}

.UserAreas-name {
  line-height: 10px;
}

.UserAreas-remove {
  position: absolute;
  right: 25px;
  top: 20px;
  cursor: pointer;
  color: #e11383;
  text-decoration: underline;
  font-weight: bold;
}
