.Privacy-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 75px;
}

.Privacy-frame {
  flex: 1;
  border: none;
}

.Privacy-accept-button {
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
  border-radius: 100px;
  padding: 0 23px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Privacy-accept-button-text{
  text-align: center;
}
