.UsersList-container {
  width: 380px;
  position: fixed;
  bottom: 45px;
  left: 50px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.UsersList-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 35px;
  background-color: #3e8ede;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.UsersList-plot {
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  height: calc(100vh - 230px) !important;
  display: none;
}

.isVisible {
  display: flex;
}

.UsersList-search-input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin: 0 16px;
  width: 100%;
  font-size: 14px;
}

.UsersList-search-input::placeholder {
  color: rgba(255,255,255,0.5);
}

.UsersList-header-minimize {
  width: 16px !important;
  height: 16px !important;
  cursor: pointer !important;
}

.UsersList-header-minimize img {
  width: 16px !important;
  height: 9px !important;
}
