.List {
    width: 325px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    overflow-y: auto!important;
}

.padding-list {
    padding-top: 60px;
}

.List > button:nth-child(2n+1) {
    background-color: #F6F6F6;
}

.List > div:nth-child(2n+1) {
    background-color: #F6F6F6;
}

.List-search-container {
    height: 80px;
    width: 325px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.List-search-input {
    height: 30px;
    width: 290px;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
    background-color: #FFFFFF;
    padding: 5px;
    padding-left: 15px;
}

.List-search-total {
    align-self: stretch;
    margin: 10px 0;
    padding-left: 10px;
    color: rgba(43, 43, 43, 0.98);
    font-size: 13px;
}

.List-search-input:focus {
    outline-width: 0;
}

.List-search-input::-webkit-input-placeholder {
    text-align: center;
}

.List-search-input::-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

.List-search-input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

.List-search-input::-ms-input-placeholder {
    text-align: center;
}