.AppLinks-container {
  width: 590px;
  height: 282px;
  position: fixed;
  background-color: white;
  top: calc(50vh - 141px);
  left: calc(50vw - 295px);
  border-radius: 10px;
  z-index: 99;
  margin-top: 15px;
  margin-bottom: 75px;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22);
}

.AppLinks-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 22px;
  background-color: #3e8ede;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.AppLinks-header-title {
  width: 96%;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

.AppLinks-header-close {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.AppLinks-header-close img {
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
}

.AppLinks-body {
  padding: 24px;
}

.AppLinks-body-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #e11383;
  font-weight: bold;
}

.AppLinks-body-slogan {
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 14px;
  color: #282633;
}

.AppLinks-body-links-container {
  text-align: center;
}

.AppLinks-body-links-container a:nth-of-type(2) {
  margin-left: 50px;
}
