.ImageButton {
  /* Rectangle: */
  /* Rectangle: */
  background-image: linear-gradient(-179deg, #FFFFFF 0%, #F1F1F1 100%);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
}

.ImageButton-title {
  font-size: 13px;
  color: #43619C;
  letter-spacing: 0;
  font-weight: 700;
}

.ImageButton-button {
  padding: 7px 50px;
  width: 100%;
}

.ImageButton-img-container {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px
}

.ImageButton-img-container img {
  width: 100%;
  object-fit: contain;
}