.RoundButton {
  /* Rectangle: */
  background-image: linear-gradient(-179deg, #4AA5FF 0%, #3E8EDE 100%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  padding: 10px 30px;
  cursor: pointer;
}

.RoundButton:hover {
  opacity: 0.8;
}

.RoundButton-span {
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0;
}
