.UserDetails-container {
  width: 380px;
  position: fixed;
  bottom: 45px;
  left: 50px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.UserDetails-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 35px;
  background-color: #3e8ede;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: right;
}

.UserDetails-header-back {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #fff;
}

.UserDetails-minimize {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.UserDetails-minimize img {
  width: 16px;
  height: 9px;
}

.UserDetails-header-title {
  width: 90%;
  height: 20px;
  margin: 0 16px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: bold;
  text-align: left;
}

.UserDetails-plot {
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  min-height: calc(100vh - 230px) !important;
  max-height: calc(100vh - 230px) !important;
  height: calc(100vh - 230px) !important;
  display: none;
}

.isVisible {
  display: flex;
}

.UserDetails-image-container {
  width: 100%;
  height: 194px;
  min-height: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffd800;
  border-bottom: solid 1px #E6E6E6;
}

.UserDetails-image {
  width: 80px;
  height: 80px;
  border-radius: 128px;
}

.UserDetails-info-container {
  margin-top: 11px;
  display: flex;
  flex-direction: column;
}

.UserDetails-block {
  height: 70px;
  padding: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e9;
}

.UserDetails-block-text {
  text-align: center;
  color: #282633;
  font-family: 'Lato';
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.UserDetails-block img {
  vertical-align: bottom;
  margin-right: 20px;
}

.UserDetails-name {
  text-align: center;
  color: #282633;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  max-width: 325px;
}

.UserDetails-email {
  text-align: center;
  color: rgba(43, 43, 43, 0.98);
  font-family: "Noto Sans";
  font-size: 15px;
  font-weight: bold;
  max-width: 325px;
  text-align: center;
  line-height: 27px;
  text-align: center;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.UserDetails-country-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.UserDetails-country-container img {
  flex: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.UserDetails-country {
  text-align: center;
  color: #000;
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.UserDetails-actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserDetails-block-user {
  color: #e11383;
  font-family: "Lato";
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}

.UserDetails-block-user.locked{
  color: #3d8ded;
}

.UserDetails-area-assign-container {
  text-align: center;
  margin-top: 24px;
}

.UserDetails-area-assign-button {
  display: inline-block;
  margin-bottom: 20px;
  width: 217px;
  height: 36px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
  border-radius: 2px;
  background-color: #3e8ede;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
