.Details {
  width: 380px;
  position: fixed;
  bottom: 45px;
  left: 50px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: auto;
}

.Details-name {
  font-size: 24px;
  color: #404040;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: 700;
}

.Details-close-button {
  background-image: linear-gradient(-179deg, #4AA5FF 0%, #3E8EDE 100%);
  position: absolute;
  top: 0;
  right: 10px;
  padding: 7px 10px;
  border-radius: 0 0 10px 10px;
}

.Details-close-button img {
  width: 14px;
  height: 14px;
}

.Details-address-container {
  margin-top: 5px;
  display: flex;
}

.Details-address-container img {
  width: 11px;
}

.Details-address-container span {
  padding-left: 10px;
}

.Details-address {
  font-size: 13px;
  color: #808080;
  letter-spacing: 0;
}

.Details-divider {
  background: #D9D9D9;
  align-self: stretch;
  height: 1px;
  margin: 15px 0;
}

.Details-default-container {
  background: #eee;
  padding: 20px;
  border-top: 1px solid #D9D9D9;
}

.Details-trash-type-title {
  font-size: 15px;
  color: rgba(43, 43, 43, 0.98);
  letter-spacing: 0;
  font-weight: 700;
}

.Details-composition-tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.Details-composition-tag span {
  background-image: linear-gradient(-180deg, #E3E3E3 0%, #C3C3C3 100%);
  border-radius: 52px;
  padding: 5px 15px;
  font-size: 13px;
  color: rgba(43, 43, 43, 0.98);
  letter-spacing: 0;
  line-height: 14px;
  margin: 0 5px 10px 0;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.Details-filler {
  flex: 1;
  background: #eee;
}

.Details-edit-container {
  height: 100px;
  padding: 20px;
  background-color: #2672bd;
  text-align: center;
}

.Details-edit-container span {
  font-size: 13px;
  color: #fff;
}

.Details-edit-container .buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Details-edit-container .buttons button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
  border-radius: 100px;
  height: 35px;
  padding: 0 23px;
  min-width: 85px;
  font-weight: 700;
}

.Details-edit-container .buttons button:first-of-type {
  background-image: linear-gradient(-180deg, #b4ec51 3%, #52ba28 100%);
  color: #2d5917;
  font-size: 13px;
}

.Details-edit-container .buttons button:last-of-type {
  background-image: linear-gradient(-180deg, #fff 0%, #f1f1f1 100%);
  color: #3e8ede;
  font-size: 13px;
}
