.TrashPhotos {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.TrashPhotos-title {
    font-size: 15px;
    color: rgba(43, 43, 43, 0.98);
    letter-spacing: 0;
    font-weight: 700;
}

.TrashPhotos-images-container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 10px;
}

.TrashPhotos-img-container {
    position: relative;
}

.TrashPhotos-img-container img {
    width: 85px;
    height: 70px;
    margin-left: 5px;
}

.TrashPhotos-img-container img:first{
    margin-left: 0px;
}

.TrashPhotos-img-container button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(-180deg, #f66690 0%, #fc505e 100%);
    border-radius: 2px;
    left: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 13px;
}