.EventsList-container {
  width: 380px;
  position: fixed;
  bottom: 45px;
  left: 50px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.EventsList-searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 35px;
  background-color: #3e8ede;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.EventsList-plot {
  display: none;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 75vh;
}

.visible {
  display: flex;
}

.EventsList-searchbar-query {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  margin: 0 16px;
  width: 90%;
  font-size: 14px;
}

.EventsList-searchbar-query::placeholder {
  color: rgba(255,255,255,0.5);
}
