.EventDetails {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.EventDetails-width-50 {
  width: 50%;
}

.EventDetails-cover img {
  width: 100%;
  height: 160px;
}

.EventDetails-plot {
  padding: 16px 30px;
}

.EventDetails-plot img {
  vertical-align: top;
  margin-right: 10px;
}

.EventDetails-infoblock {
  margin: 25px 0;
  font-size: 14px;
  line-height: 1.4;
}

.EventDetails-header {
  font-size: 14px;
  color: #3e8ede;
  font-weight: bold;
  text-transform: uppercase;
}

.Event-divider {
  height: 1px;
  width: 320px;
  margin: 0 auto;
  background-color: #282633;
  opacity: 0.2;
  box-shadow: 0 2px 18px 0 rgba(0, 105, 188, 0.2);
}

.EventDetails-actions, .EventDetails-timing {
  display: flex;
  flex-direction: row;
}

.EventDetails-report {
  color: #e11383;
  text-transform: uppercase;
  font-weight: bold;
}

.EventDetails-share {
  color: #3e8ede;
  text-transform: uppercase;
  font-weight: bold;
}

.EventDetails-bring ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}
